
/*  VARIABLES   */

:root {
  --basic-white: #ffffff;

  --basic-space:#eeeeee;

  --basic-black: #000000;
  --basic-extra-black: #283136; 
  --basic-gray-black: #444444;
  --basic-gray-space: #666666;

  --basic-red: #FB565A;
  --medium-red: #e74246;
  --basic-dark-red: #d7373b;

  --basic-green: #00ca74;
  --basic-medium-green: #00bc6c;
  --basic-dark-green: #00aa62;

  --basic-yellow: #EFC84A;
  --basic-medium-yellow: #eab534;
  --basic-dark-yellow: #e5a722;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*   HEADER   */

.main-header {
  background: var(--basic-space);
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--medium-red);
}

.nav-link:active {
  color: var(--basic-black);
}

/*  MAIN  */

/*  SLIDER  */
.slider {
  background: var(--basic-space);
}

.slider-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.slider-text {
  font-weight: normal;
}

.slider-link {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-red);
}

.slider-link:hover {
  background-color: var(--medium-red);
}

.slider-link:active {
  background-color: var(--basic-dark-red);
}


/* SERVICES */
.services-item {
  list-style: none;
}

.services-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-text {
  font-weight: normal;
}

.services-link {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border-radius: 3px;
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-red:hover {
  background-color: var(--medium-red);
}

.btn-green:hover {
  background-color: var(--basic-medium-green);
}

.btn-yellow:hover {
  background-color: var(--basic-medium-yellow);
}

.btn-red:active {
  background-color: var(--basic-dark-red);
}

.btn-green:active {
  background-color: var(--basic-dark-green);
}

.btn-yellow:active {
  background-color: var(--basic-dark-yellow);
}

/* ABOUT */
.about-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-text {
  font-weight: normal;
}
.about-item {
  list-style: none;
}

.about-article {
  font-weight: bold;
}

.about-list2-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color:var(--basic-black);
}

.about-list2-text {
  line-height: 18px;
}

/* GALLERY */
.gallery-list-item {
  list-style: none;
}

/* FOOTER */

.footer-contacts-title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.footer-contacts-address {
  line-height: 18px;
  color: var(--basic-gray-space);
}
.footer-contact-link {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.footer-contact-link:hover {
    background-color: var(--medium-red);
}

.footer-contact-link:active {
    background-color: var(--basic-dark-red);
}

.footer-list-item {
  list-style: none;
}

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text {
  font-weight: normal;
  line-height: 22px;
  color: var(--basic-gray-black);
}
