
/*  VARIABLES   */

:root {
  --basic-white: #ffffff;

  --basic-space:#eeeeee;

  --basic-black: #000000;
  --basic-extra-black: #283136; 
  --basic-gray-black: #444444;
  --basic-gray-space: #666666;
  --basic-extra-space:#DfDfDf;
  --basic-medium-space:#D5D5D5;

  --basic-red: #FB565A;
  --medium-red: #e74246;
  --basic-dark-red: #d7373b;

  --basic-green: #00ca74;
  --basic-medium-green: #00bc6c;
  --basic-dark-green: #00aa62;

  --basic-yellow: #EFC84A;
  --basic-medium-yellow: #eab534;
  --basic-dark-yellow: #e5a722;
}



body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
}
.visually-hidden {
display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*   GRID  */

.page {
  height: 100%;
}

.container {
  width: 1157px;
  margin: 0 auto;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: auto auto auto;
  align-content: start;
}

.main-header {
  grid-area: header;
  background-color: var(--basic-space);
}
.header-navigation {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
}
.footer {
  display: grid;
  grid-template-columns: auto auto;


/*   HEADER   */

.main-header {
  background: var(--basic-space);
}


.shop {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
}
.shop-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


.nav-item {
  list-style: none;
}

.nav-link {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--medium-red);
}

.nav-link:active {
  color: var(--basic-black);
}

/*  MAIN  */

/*  SLIDER  */
.slider {
  background: var(--basic-space);
}

.slider-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.slider-text {
  font-weight: normal;
}

.slider-link {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-red);
}

.slider-link:hover {
  background-color: var(--medium-red);
}

.slider-link:active {
  background-color: var(--basic-dark-red);
}


/* SERVICES */
.services-item {
  list-style: none;
}

.services-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-text {
  font-weight: normal;
}

.services-link {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border-radius: 3px;
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-red:hover {
  background-color: var(--medium-red);
}

.btn-green:hover {
  background-color: var(--basic-medium-green);
}

.btn-yellow:hover {
  background-color: var(--basic-medium-yellow);
}

.btn-red:active {
  background-color: var(--basic-dark-red);
}

.btn-green:active {
  background-color: var(--basic-dark-green);
}

.btn-yellow:active {
  background-color: var(--basic-dark-yellow);
}

/* ABOUT */
.about-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-text {
  font-weight: normal;
}
.about-item {
  list-style: none;
}

.about-article {
  font-weight: bold;
}

.about-list2-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color:var(--basic-black);
}

.about-list2-text {
  line-height: 18px;
}

/* GALLERY */
.gallery-list-item {
  list-style: none;
}


/* CATALOG */
.catalog-desc {
  background-color: var(--basic-space);
}
.catalog-top {
  list-style: none;
}


.cat-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.link-black {
  color: var(--basic-black);
  opacity: 1;
  }

.cat-link:hover {
 color: var(--basic-black);
 opacity: 0.6;
}
.cat-link:active {
  color: var(--basic-black);
  opacity: 1;  /*  без него не работало */
}


.catalog-list-item {
  list-style: none;
}


.catalog-title a {
  font-size:18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  }
  .catalog-title a:hover {
 color: var(--basic-red);
  }
  .catalog-title a:active {
    color: var(--basic-black);
    opacity: 0.3;
     }

.catalog-text {
 color: var(--basic-gray-space);
}

.catalog-button {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.catalog-button:hover {
  background-color: var(--medium-red);
}
.catalog-button:active {
  background-color: var(--basic-dark-red);
}

.catalog-page-list {
  list-style: none;
}
.catalog-btn {
  background-color:var(--basic-space);
  color: var(--basic-black);
  border-radius: 3px;
}

.catalog-btn:hover {
  background-color:var(--basic-extra-space);
  color: var(--basic-black);
  
}

.catalog-btn:active {
  background-color:var(--basic-medium-space);
  color: var(--basic-black);

  
}

.btn-active {
  border: 3px solid #dbdbdb;
}

/* FOOTER */

.footer-contacts-title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.footer-contacts-address {
  line-height: 18px;
  color: var(--basic-gray-space);
}
.footer-contact-link {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.footer-contact-link:hover {
    background-color: var(--medium-red);
}

.footer-contact-link:active {
    background-color: var(--basic-dark-red);
}

.footer-list-item {
  list-style: none;
}

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text {
  font-weight: normal;
  line-height: 22px;
  color: var(--basic-gray-black);
}
