/*  VARIABLES   */

:root {
  --basic-white: #ffffff;

  --basic-space: #eeeeee;

  --basic-black: #000000;
  --basic-extra-black: #283136;
  --basic-gray-black: #444444;
  --basic-gray-space: #666666;
  --basic-extra-space: #DfDfDf;
  --basic-medium-space: #D5D5D5;

  --basic-red: #FB565A;
  --medium-red: #e74246;
  --basic-dark-red: #d7373b;

  --basic-green: #00ca74;
  --basic-medium-green: #00bc6c;
  --basic-dark-green: #00aa62;

  --basic-yellow: #EFC84A;
  --basic-medium-yellow: #eab534;
  --basic-dark-yellow: #e5a722;
}

.page {
  box-sizing: border-box;
}

*, *::before, *::after { 
  box-sizing: border-box;
 }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*******   G R I D  ***********/

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-extra-black);
}



.form-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 140px;
}



/*********   H E A D E R   ***********/



.main-header {

  background: var(--basic-space);
}

.main-header-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 75px;
}

.site-navigation {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.shop-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.site-navigation-item {
  list-style: none;
  display: block;
}

.site-navigation-link {
  display: block;
  margin-right: 45px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation-link:hover {
  color: var(--medium-red);
}

.site-navigation-link:active {
  color: var(--basic-black);
}

.basket {
  position: relative;
  padding-left: 29px;

}

.basket::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top:50%;
  left: -30px;
transform: translateY(-50%);
  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
}



/************  S L I D E R  ************/


.slider {
  margin-bottom: 80px;
  background: var(--basic-space);
}

.slider-list {
  display: none;
  position: relative;
  height: 431px;
}

.slider-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.slider-list img {
  position: absolute;
  bottom: 0;
  right: 0;

}

.slider-title {
  max-width: 538px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.slider-text {
  max-width: 400px;
  font-weight: normal;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 50%;

}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-link {
  padding: 17px 54px 15px 54px;
  max-width: 240px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  border-radius: 3px;
  background-color: var(--basic-red);
}

.slider-link:hover {
  background-color: var(--medium-red);
}

.slider-link:active {
  background-color: var(--basic-dark-red);
}



/********** S E R V I C E S ************/


.services {
  border-bottom: 2px solid #eeeeee;
  padding: 0;
  margin-bottom: 73px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.services-item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.services-img {
  order: -1;
  margin-bottom: 25px;
  display: block;

}
.services-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-text {
  margin: 0;
  margin-bottom: 32px;
  max-width: 260px;
  font-weight: normal;
}

.services-link {
  margin-bottom: 80px;
  padding: 17px 40px 15px 39px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border-radius: 3px;
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-red:hover {
  background-color: var(--medium-red);
}

.btn-green:hover {
  background-color: var(--basic-medium-green);
}

.btn-yellow:hover {
  background-color: var(--basic-medium-yellow);
}

.btn-red:active {
  background-color: var(--basic-dark-red);
}

.btn-green:active {
  background-color: var(--basic-dark-green);
}

.btn-yellow:active {
  background-color: var(--basic-dark-yellow);
}


/********** W O R K I N G ************/

.working {
  display: flex;
  justify-content: space-between;
  
}

.working-block-left {
  max-width: 651px;
}

.working-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.working-text {
  margin-bottom: 40px;
}

.working-title-middle {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
 
}


.working-list-left {
  position: relative;
}

.working-item-left {
  list-style: none;
  font-weight: normal;
  padding-bottom: 25px;
}

.working-item-left::before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  left: 0;
  background: var(--basic-red);
  transform: translate();
}

.working-block-right {
  text-align: center;
  position: relative;
}

.working-text-middle {
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-top: 245px;
  margin: 0;
}
.working-text-middle::before {
  display: block;
  content: "";
  height: 208px;
  width: 360px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/nerds-illustration1.png);
  background-repeat: no-repeat;
  background-position: center ;

}

 

.working-list-right {
  display: flex;
  justify-content: space-between;
}

.working-item-right {
  list-style: none;
}

.working-text-bold {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.working-text-percent {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}

.working-text-normal {
  line-height: 18px;
}


/********* G A L L E R Y ***********/


.gallery {
  padding-top: 46px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}

.gallery-item {
  list-style: none;
}

.gallery-item img {
  opacity: 0.2;
}

.gallery-item img:hover {
  opacity: 2;
}

.gallery-item img:active {
  opacity: 0.1;
}


/********* C A T A L O G **********/





.catalog-desc {
  background-color: var(--basic-space);
  height: 231px;
  text-align: center;
}

.catalog-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-top {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.cat-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.link-black {
  color: var(--basic-black);
  opacity: 1;
}

.cat-link:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.cat-link:active {
  color: var(--basic-black);
  opacity: 1;
  /*  без него не работало */
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  padding: 0;
  gap: 42px;
}

.catalog-list-item {
  list-style: none;
}

.catalog-title a {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-title a:hover {
  color: var(--basic-red);
}

.catalog-title a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-text {
  color: var(--basic-gray-space);
}

.catalog-button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding:17px 72px 15px 72px;
  border-radius: 3px;
}

.catalog-button:hover {
  background-color: var(--medium-red);
}

.catalog-button:active {
  background-color: var(--basic-dark-red);
}

.catalog-page-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-btn {
  display: block;
  background-color: var(--basic-space);
  color: var(--basic-black);
  border-radius: 3px;
  padding: 10px 19px;
  margin-right: 10px;
}

.catalog-btn:hover {
  background-color: var(--basic-extra-space);
  color: var(--basic-black);
}

.catalog-btn:active {
  background-color: var(--basic-medium-space);
  color: var(--basic-black);
}

.btn-active {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}



/*Форма каталога  */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}
.btn-form {
  width: 260px;
  background-color: #eeeeee;
  border-radius: 3px;
  padding:17px 89px 15px 88px;
}


/********* F O O T E R **********/

.footer-content-top {
  position: relative;
}

.footer-contacts {
  position: absolute;
  bottom: 54px;
  width: 319px;
  height: 308px;
  text-align: center;
  background-color: #ffffff;
  left: 50%;
  margin-left: -580px;
}

.footer-img {

  width: 100%;
  height: 100%;
}

.footer-contacts-title {
  font-size: 18px;
  margin-top: 59px;
  padding-bottom: 22px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.footer-contacts-address {
  line-height: 18px;
  color: var(--basic-gray-space);
}
.footer-contacts-phone {
  color: var(--basic-gray-space);
}

.footer-contact-link {
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 16px 44px;
  border-radius: 3px;
  margin-bottom: 47px;
}

.footer-contact-link:hover {
  background-color: var(--medium-red);
}

.footer-contact-link:active {
  background-color: var(--basic-dark-red);
}

.footer-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.footer-list {
  display: flex;
}

.footer-item {
  list-style: none;
  display: block;
  margin-right: 9px;
}

.footer-link {
  position: relative;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  border-radius: 50%;
  display: block;
}

.footer-link:hover {
  background: var(--medium-red);
}

.footer-link:active {
  background: var(--basic-dark-red);
}

.vk::before {
  display: block;
  content: "";
  width: 26px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fb::before {
  display: block;
  content: "";
  width: 12px;
  height: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.insta::before {
  display: block;
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}


  

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text {
  font-weight: normal;
  line-height: 22px;
  color: var(--basic-gray-black);
}






/************ M O D A L *************/
.modal {
  display: none;
  position: fixed;
  background-color: #ffffff;
  color: #000000;

}

/* Modal form */
.modal-email h2 {
  font-size: 45px;
  line-height: 53px;
}

.modal-form input[type="text"],
input[type="email"] {
  font: inherit;
  color: #444444;
  opacity: 0.5;
  background: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-email {
  height: 590px;
  top: 180px;
  bottom: auto;
  width: 960px;
  padding: 240px;

}
